.message {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .messageContent {
        background-color: aqua;
        max-width: 80%;
        padding: 10px 20px;
        border-radius: 0px 10px 10px 10px;
        word-wrap: break-word;
        width: fit-content;
    }

    .messageTime {
        padding: 0px 20px;
    }
}

.owner {
    align-items: flex-end;

    .messageContent {
        border-radius: 10px 0px 10px 10px;
        background-color: aquamarine;
        width: fit-content;
    }
}